<web-app>
    <servlet>
       <servlet-name>Part5</servlet-name>
       <servlet-class>Assignment2_part5</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>Part6</servlet-name>
       <servlet-class>Assignment2_part6</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>Part7</servlet-name>
       <servlet-class>Assignment2_part7</servlet-class>
   </servlet>
   <servlet>
       <servlet-name>Part8</servlet-name>
       <servlet-class>Assignment2_part8</servlet-class>
   </servlet>
    <servlet-mapping>
       <servlet-name>Part5</servlet-name>
       <url-pattern>/part5.xls</url-pattern>
   </servlet-mapping>
    <servlet-mapping>
       <servlet-name>Part6</servlet-name>
       <url-pattern>/part6.xls</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>Part7</servlet-name>
       <url-pattern>/part7</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
       <servlet-name>Part8</servlet-name>
       <url-pattern>/part8</url-pattern>
   </servlet-mapping>
    <welcome-file-list>
       <welcome-file>index.html</welcome-file>
   </welcome-file-list>
</web-app>